{% extends "base.html" %}
{% block body %}
<body>
<div class="container-fluid">
    <form id="dungeon_form" class="shadowed mt-5 col-md-4 offset-md-4">
        <div class="row">
            <div class="col-md-12 row mt-5 text-center">
                <label class="col" for="instance_name">Instance</label>
                <select class="col input-wide" name="instance_name" id="instance_name">
                    {% for instance in instances %}
                    <option value="{{instance.name}}">{{ instance.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 row mt-4 text-center">
                <label id="fix" class="col text-center">Bosses</label>
                <div id="fix2" class="col text-left">
                    <div class="form-check">
                        <input type="checkbox" class="boss-checkbox" id="check1" checked>
                        <label class="boss-label" for="check1">
                            <svg id="checked-icon" width="1em" height="1em" viewBox="0 0 459 459" class="bi bi-clipboard" fill="currentColor">
                                <path d="M124.95,181.05l-35.7,35.7L204,331.5l255-255l-35.7-35.7L204,260.1L124.95,181.05z M408,408H51V51h255V0H51 C22.95,0,0,22.95,0,51v357c0,28.05,22.95,51,51,51h357c28.05,0,51-22.95,51-51V204h-51V408z"/>
                            </svg>
                            <svg id="unchecked-icon" width="1em" height="1em" viewBox="0 0 459 459" class="bi bi-clipboard" fill="currentColor">
                                <path d="M408,51v357H51V51H408 M408,0H51C22.95,0,0,22.95,0,51v357c0,28.05,22.95,51,51,51h357c28.05,0,51-22.95,51-51V51 C459,22.95,436.05,0,408,0L408,0z"/>
                            </svg>
                            <span class="pl-2">Shriekwing</span>
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="boss-checkbox" id="check2" checked>
                        <label class="boss-label" for="check2">
                            <svg id="checked-icon" width="1em" height="1em" viewBox="0 0 459 459" class="bi bi-clipboard" fill="currentColor">
                                <path d="M124.95,181.05l-35.7,35.7L204,331.5l255-255l-35.7-35.7L204,260.1L124.95,181.05z M408,408H51V51h255V0H51 C22.95,0,0,22.95,0,51v357c0,28.05,22.95,51,51,51h357c28.05,0,51-22.95,51-51V204h-51V408z"/>
                            </svg>
                            <svg id="unchecked-icon" width="1em" height="1em" viewBox="0 0 459 459" class="bi bi-clipboard" fill="currentColor">
                                <path d="M408,51v357H51V51H408 M408,0H51C22.95,0,0,22.95,0,51v357c0,28.05,22.95,51,51,51h357c28.05,0,51-22.95,51-51V51 C459,22.95,436.05,0,408,0L408,0z"/>
                            </svg>
                            <span class="pl-2">Huntsman Altimor</span>
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="boss-checkbox" id="check3" checked>
                        <label class="boss-label" for="check3">
                            <svg id="checked-icon" width="1em" height="1em" viewBox="0 0 459 459" class="bi bi-clipboard" fill="currentColor">
                                <path d="M124.95,181.05l-35.7,35.7L204,331.5l255-255l-35.7-35.7L204,260.1L124.95,181.05z M408,408H51V51h255V0H51 C22.95,0,0,22.95,0,51v357c0,28.05,22.95,51,51,51h357c28.05,0,51-22.95,51-51V204h-51V408z"/>
                            </svg>
                            <svg id="unchecked-icon" width="1em" height="1em" viewBox="0 0 459 459" class="bi bi-clipboard" fill="currentColor">
                                <path d="M408,51v357H51V51H408 M408,0H51C22.95,0,0,22.95,0,51v357c0,28.05,22.95,51,51,51h357c28.05,0,51-22.95,51-51V51 C459,22.95,436.05,0,408,0L408,0z"/>
                            </svg>
                            <span class="pl-2">Hungering Destroyer</span>
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="boss-checkbox" id="check4" checked>
                        <label class="boss-label" for="check4">
                            <svg id="checked-icon" width="1em" height="1em" viewBox="0 0 459 459" class="bi bi-clipboard" fill="currentColor">
                                <path d="M124.95,181.05l-35.7,35.7L204,331.5l255-255l-35.7-35.7L204,260.1L124.95,181.05z M408,408H51V51h255V0H51 C22.95,0,0,22.95,0,51v357c0,28.05,22.95,51,51,51h357c28.05,0,51-22.95,51-51V204h-51V408z"/>
                            </svg>
                            <svg id="unchecked-icon" width="1em" height="1em" viewBox="0 0 459 459" class="bi bi-clipboard" fill="currentColor">
                                <path d="M408,51v357H51V51H408 M408,0H51C22.95,0,0,22.95,0,51v357c0,28.05,22.95,51,51,51h357c28.05,0,51-22.95,51-51V51 C459,22.95,436.05,0,408,0L408,0z"/>
                            </svg>
                            <span class="pl-2">Stone Legion Generals</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 row mt-4 text-center">
                <label class="col-md-6" for="question_count">Questions count</label>
                <input class="col-md-6" id="question_count" type="number" name="question_count" min="2" value="5">
            </div>
        </div>

        <div class="row">
            <div class="col text-center mt-4 mb-5">
                <button type="button" class="button-wide btn btn-secondary" onclick="submitSurveyCreationForm()">Generate</button>
            </div>
        </div>
    </form>
</div>
</body>
{% endblock %}