{% extends "base.html" %}
{% block body %}
<body>
<div class="container-fluid">
    <div class="row">
        <h1 class="col text-center">WoW Surveys</h1>
    </div>
    <form id="dungeon_form">
        <div class="row">
            <div class="col text-center">
                <label for="instance_name">Select dungeon:</label>
                <select name="instance_name" id="instance_name">
                    {% for instance in instances %}
                    <option value="{{instance.name}}">{{ instance.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <label for="question_count">How many questions</label>
                <input type="number" name="question_count" id="question_count" min="2" value="5">
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <button type="button" onclick="submitSurveyCreationForm()">Generate</button>
            </div>
        </div>
    </form>
</div>
</body>
{% endblock %}