{% extends "base.html" %}
{% block body %}
<body>
  <form id="dungeon_form">
    <label for="instance_name">Select dungeon:</label>
    <select name="instance_name" id="instance_name">
      <option value="atal">Atal</option>
      <option value="Kings rest">Kings rest</option>
    </select>
    <label for="question_count">How many questions</label>
    <input type="number" name="question_count" id="question_count" min="2" value="2">
    <button type="button" onclick="submitSurveyCreationForm()">Generate</button>
  </form>
</body>
{% endblock %}