{% extends "base.html" %}
{% block body %}
<body>
<div class="container-fluid">
    <div class="row"><h1 id="dungeon_name" class="col text-center">{{ survey.instance_name }}</h1></div>
    <form id="filled_dungeon_form">
        <ul class="list-group col-md-8 offset-md-2">
            {% for question in survey.questions %}
            <div class="form-check">
                <li class="list-group-item row">{{ question.content }}
                    <ul class="list-group">
                        {% for answer in question.answers %}
                        <li class="row list-group-item input-group">
                            <input class="form-check-input" type="radio" name="{{ question.id }}" id="{{ answer.id}}"
                                   value="{{ answer.id }}">
                            <label class="form-check-label" for="{{ answer.id}}">
                                <span>{{ answer.content }}</span>
                            </label>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </div>
            {% endfor %}
        </ul>
        <div class="row">
            <div class="col mt-3">
                <input id="nickname" type="text" class="float-md-right h-100 text-center" placeholder="Nickname" required oninput="onInput(event)" minlength="3">
            </div>
            <div class="col mt-3">
                <button id="submit" type="button" class="btn btn-primary" onclick="submitResultsForm(event)" disabled>Submit</button>
            </div>
        </div>
    </form>
</div>
<script>
    $( ".input-group" ).click(function() {
    var radButton = $(this).find('input[type=radio]');
    if ($(radButton).prop("checked") == false) {
        $(radButton).prop("checked", true);
    }
});

</script>
</body>
{% endblock %}