{% extends "base.html" %}
{% block body %}
<body>
<div class="container-fluid">
    <div class="row"><h1 id="dungeon_name" class="col text-center mb-5">{{ survey.instance_name }}</h1></div>
    <form id="filled_dungeon_form">
        <ul class="list-group shadowed col-md-8 offset-md-2 mb-3">
            {% for question in survey.questions %}
                <li class="list-group-item styled-list-item row"><div class="secondary-text">Question {{loop.index}}</div> {{ question.content }}
                    <ul class="list-group mt-4 mb-4">
                        {% for answer in question.answers %}
                        <li class="row answer clickable styled-list-item list-group-item" onmousedown="onAnswerSelected(event)">
                            <input class="form-check-input clickable" type="radio" name="{{ question.id }}" id="{{ answer.id }}"
                                   value="{{ answer.id }}">
                            <label class="form-check-label clickable" for="{{ answer.id }}">
                                <span class="secondary-text">{{ loop.index }}.</span><span class="ml-3">{{ answer.content }}</span>
                            </label>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
        <div class="row mt-5" id="submit-btn-row">
            <div class="col-md-3 offset-md-3">
                <input id="nickname" type="text" class="input-wide float-md-right h-100 text-center" placeholder="Nickname" required oninput="onInput(event)" minlength="3">
            </div>
            <div class="col-md-3">
                <button id="submit" type="button" class="button-wide btn btn-secondary" onclick="submitResultsForm(event)" disabled>Submit</button>
            </div>
        </div>
    </form>
</div>
<script>
    $( ".input-group" ).click(function() {
    var radButton = $(this).find('input[type=radio]');
    if ($(radButton).prop("checked") == false) {
        $(radButton).prop("checked", true);
    }
});
</script>
</body>
{% endblock %}